/*=====================ROOT===================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

:root{
  --main-color: #5cc7cc;
  --second-color: #cdfbff;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  color: white;
}
/*=====================GLOBAL===================*/

.container{
  font-family: 'Poppins', sans-serif;
}

/*======================== HOME PAGE =============================*/
/*-------------NAVBAR---------------*/
.header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 1px 10px 15px #0000000a;
  width: 100%;
}
.nav-container ul{
  display: flex;
  margin-top: 13px;
  justify-content: space-between;
}
.nav-container ul li{
  list-style: none;
  cursor: pointer;
}
.nav-container ul li a{
  text-decoration: none;
  color: black;
  font-size: 15px;
  transition: 0.3s;
  padding: 20px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.nav-container ul li a:hover{
  border-bottom: 2px solid var(--main-color);
  color: var(--main-color)
}
.logo{
  color: black;
  margin: 10px 0px 10px 30px;
  font-size: 25px;
}

.font-svg{
  fill: var(--main-color);
  width: 3em;
}
.logo a{
  text-decoration: none;
  color: black;
}

/*Main*/
.main-container{
  
  width: 100%;
  height: 89vh;
  Display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(Pictures/larry.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.section1-content{
  text-align: end;  
}
.moto{
  letter-spacing: 1px;
}
.moto-0{
  font-weight: 400;
}
.moto-1{
  font-size: 40px;
  color: var(--second-color);
}
.rev{
  position: relative;
}
.rev:after{
  position: absolute;
  content: " ";
  height: 3px;
  width: 50%;
  border-radius: 30%;
  bottom: -2px;
  left: 0px;
  background-color: var(--main-color);
}
.sub-moto p{
  font-size: 15px;
  margin-bottom: 20px;
  line-height: 1.8;
  width: 40%;
  margin-left: auto;
  text-align: end;
}

/*============================BUTTONS==========================*/

.btn{
  background-color: var(--main-color);
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  color: white;
  letter-spacing: 1.1px;
  transition: 0.6s;
  cursor: pointer;
  position: relative;
}
.btn:after {
  content: '>>';
  position: absolute;
  opacity: 0;
  right: 20px;
  transition: 0.5s;
  bottom: 9px;
  color: #fff;
}

.btn:hover{
  padding-right: 34px;
  padding-left:10px;
}

.btn:hover:after {
  opacity: 1;
  right: 10px;
}
.btn a{
  text-decoration: none;
  color: white;
}

/* =========================REGISTER========================== 2 */

.section-2{
  background-image: url(Pictures/high-angle-man-woman-dealership.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.82);
  width: 100%;
  height: 100%;
}
.slider{
  width: 80%;
  text-align: center;
  overflow: hidden;
  margin: auto;
}
.slides{
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides > div{
  flex-shrink: 0;
  width: 100%;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
}
.blur-container{
  background-color: rgba(255, 255, 255, 0.158);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  margin-top: 3.8rem;
  padding: 20px;
  border-radius: 20px;
}
.sliding-section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  text-align: center;
  margin-top: 3.8rem;
  padding: 20px;
  border-radius: 20px;
}

.service-moto{
  display: flex;
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  justify-content: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--second-color);
}
.card-container{
  display: flex;
  justify-content: center;
  margin: 1cm 1cm 1cm 1cm;
  max-width: 60%;
}
.sell-container{
  margin-right: 2rem;
  background-color: #000000bf;
  color: white;
  padding: 20px;
  border-radius: 10px;
}
.buy-container{
  margin-left: 2rem;
  padding: 20px;
  border-radius: 10px; 
  background-color: #000000bf;
  color: white;
}
.icon{
  font-size: 30px;
  padding: 20px;
  color: var(--main-color);
}
.buy-container h1, .sell-container h1{
  padding: 10px;
}
.buy-container p, .sell-container p{
  margin-bottom: 15px;
  max-width: 60ch;
  font-size: 14px;
}
.btn-buy, .btn-sell{
  padding: 10px 45px;
  margin: 10px;
}


/*=======================RESGISTER_BUY_SECTION========================*/

.section3{
  margin-top: 2.8cm;
  font-size: 2rem;
  color: black;
}




ul{
  margin: 0;
  padding: 0;
}
ul li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper{
  width: 840px;
  margin: 0 auto;
  height: 100vh;
  color: black;
}
.vehicle-card{
  position: relative;
  display: inline-block;
  width: 240px;  
  height: 310px;
  overflow: visible;
  z-index: 1;
  border-radius: 2px;
  margin: 0 20px 20px 0;
}

.vehicle-card:hover {
  z-index: 2;
  -webkit-transform: translate(0px, -10px);
  transform: translate(0, -10px);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}


.vehicle-card .details{
  position: absolute;
  height: 315px;
  width: 240px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.vehicle-card .details:hover{
  -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  width: 240px;
}
.vehicle-card .info{
  margin: 10px;
}
.vehicle-card .ctas{
  margin: 10px 0;
}
.thumb-gallery{
  height: 155px;
}
.thumb-gallery img{
  position: absolute; 
  width: 240px;
}
.thumb-gallery img.first{
  opacity: 1;
}
.vehicle-card:hover .thumb-gallery img.second{
  opacity: 0;
  -webkit-transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
/*styling*/

.vehicle-card h3{
  margin: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  letter-spacing: -.5px;
}
.vehicle-card .price span{
  font-family: "Helvetica", Arial, sans-serif;
  color: #999;
  font-size: .75rem;
}
.vehicle-card .price h4{
  margin: 0;
  font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
  color: #222;
  font-size: 1.25rem;
}
.vehicle-card .desc p{
  color: #666;
  font-size: 1rem;
  line-height: 1.25rem;
}
.vehicle-card .specs{
  border-top: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  margin: 20px 0;
  padding: 10px 0;  
}
.specs .spec{
  display: inline-block;
  margin-right: 10px;
}
.specs span{
  color: #999;
  font-size: .75rem;
}
.specs p{
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
}
.specs p span{
  font-size: .75rem;
  margin-left: 2px;
  font-weight: normal;
}
.btn-car{
  display: block;
  padding: 0 10px;
  float: left;
  font-size: .75rem;
  text-decoration: none;
  height: 30px;
  width: 101px;
  text-align: center;
  border-radius: 2px;
  font-weight: bold;   
  box-sizing: border-box;         
}
.heading h1{
  text-align: center;
  padding: 20px;
  margin-bottom: 0.2cm;
}
.primary{
  background-color: var(--main-color);
  color: #fff;
  margin-right: 10px;
  line-height: 30px;
}
.secondary{
  background-color: #fff;
  color: var(--main-color);
  border: 2px solid var(--main-color);  
  line-height: 26px;
}


/*=======================FOOTER=========================*/

.footer-container{
  background-color: rgba(0, 0, 0, 0.816);
  color: white;
  display: flex;
  justify-content: space-between;
}
.footer-container p{
  margin: 0px 20px;
}

/*===========================================FORM================================*/

/*=========================Registration FORM==================*/

.form-container{
  /*background-image: url(Pictures/barry.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
.forms-container-inner{
  position: relative;
  width: 30%;
  height: 77vh;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.inner-container{
  padding: 20px;
  background-color: #000000bf;
  border-radius: 15px;
  width: 30%;
}
.addcar-form-container{
  padding: 20px;
  
}

.pop{
  text-align: center;
}


/*.forms-container-inner:hover{
  transform: rotateY(180deg);
}*/
.back-box, .front-box{
   -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
}

.back-box{
  transform: rotateY(180deg);
}
.form-card-container-front, .form-card-container-back{
  display: flex;
  justify-content: center;
  min-height: 75vh;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: rgba(0,0,0,0.4);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.form-card-container-back h1{
  margin: 13px;
}
.form-card-container-back form{
  width: 75%;
  margin: auto;
}
.form-card-container-front h1{
  margin: 20px;
}
.form-card-container-front form{
  width: 75%;
}
.input-box input{
  padding: 5px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid white;
  color: white;
  margin-bottom: 10px;
}
.input-box input:focus{
  outline: none;
}
.input-box input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=submit] {
  width: 100%;
  background-color: var(--main-color);
  color: white;
  padding: 14px 20px;
  margin: 25px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
form h6{
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  margin-bottom: 12px;
}
.back-btn{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  margin: 5px;
  background-color: var(--main-color);
  color: white;
  border-radius: 8px;
  border: none;
}
.btn-register{
  padding: 10px;
  margin: 5px;
  background-color: var(--main-color);
  color: white;
  border-radius: 8px;
  border: none;

}
.btn-login{
  padding: 10px;
  margin: 5px;
  background-color: var(--main-color);
  color: white;
  border-radius: 8px;
  border: none;
}
.search-bar-container{
  margin: 20px;
}
.search-bar-container input{
  padding: 5px 8rem 5px 5px;
  border: 2px solid var(--main-color);
  border-right: none;
  border-radius: 10px 0 0 10px;
}
.search-bar-container input:focus{
  color: black;
  border: 2px solid var(--main-color);
  outline: none;
  border-right: none;
}
.search-bar-container button{
  padding: 5px 3px 5px 3px;
  background-color: var(--main-color);
  color: white;
  border: 2px solid var(--main-color);
  transition: 0.4s;
  border-left: none;
  border-radius: 0 10px 10px 0;
}
.search-bar-container button:hover{
  color: var(--main-color);
  background-color: white;

}


/*====================ABOUT=================*/
.about-container{
  color: black;
  max-width: 80%;
  margin: auto;
  min-height: 100vh;
}
.about-section-1{
  display: flex;
  margin-top: 2cm;
  padding-top: 2cm;
}
.details{
  flex: 1;
}
.details h1{
  font-size: 50px;
}
.details p{
  margin-top: 25px;
  font-size: 20px;
  max-width: 50ch;
}
.contact{
  font-weight: 500;
}
.about-image{
  flex: 1;
}
.about-image img{
  margin-left: 4cm;
  width: 400px;
}

/*==================Contact Container==================*/


.contact-container{
  color: black;
  width: 80%;
  margin: auto;
  text-align: center;
}
.contact-section{
  background-color: var(--main-color);
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  max-width: 50%;
  margin: auto;
  margin-bottom: 3cm;
  color: white;
}

/*=================Team Container ====================*/

.team-container{
  max-width: 80%;
  margin: auto;
  color: black;
}
.team-container h1{
  color: var(--main-color);
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1cm;
}
.team-card-container{
  padding: 20px;
  display: flex;
  border-radius: 20px;
  margin-bottom: 2cm;
  text-align: center;
}
.team-card{
  width: 33.3%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}
.team-card img{
  height: 150px;
}
.team-content{
    padding: 20px;
    margin: 10px;
}
.title{
  color: grey;
  margin: 10px;
}
.team-content p{
  max-width: 30ch;
  margin: 5px;
}
.team-content .Email{
  margin: 15px;
  color: var(--main-color);
}