*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(178, 127, 127);
}
.popup-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    position: absolute;
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    opacity: 0;
    transition: 1s;
  }
  .active{
    opacity: 1;
  }.deactive{
    opacity: 0;
  }
  .close{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 5px;
    margin-top: 5px;
    border: 2px solid none;
  }
.btn{
  z-index: 1;
  transition: 0.4s;
}